.languages-container {
  color: var(--dark-text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 1%;
}

.language-item {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  margin: 10px;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--light-text);
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.language-item:hover {
  background: var(--hover), var(--main);
}

.language-item > * {
  margin: 1%;
}

.language-item .language-title {
  font-size: 1.8rem;
  margin-bottom: 5%;
}

.language-item p {
  font-size: 0.8rem;
}

.language-button-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.language-item button a {
  text-decoration: none;
  color: var(--light-text);
}

.language-item button {
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main);
  color: var(--light-text);
  padding: 5%;
  margin-top: 10%;
  width: 100%;
  border: none;
}
.language-item button:hover {
  background: var(--hover), var(--main);
}

@media only screen and (max-width: 600px) {
  .languages-container {
    margin-top: 1%;
    width: 100vw;
  }
  .language-item {
    height: 150px;
    width: 100%;
    font-size: 1.2rem;
  }
  .language-item .language-title {
    margin-bottom: 1%;
  }

  .language-item h1 {
    margin: 0px;
    font-size: 3rem;
  }

  .language-item p {
    margin-top: 0px;
    font-size: 0.5rem;
  }

  .language-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  .language-item button {
    margin: 1% 4%;
    width: 50%;
    padding: 1%;
    font-size: 0.6rem;
  }
}
