.navbar {
  display: flex;
  height: 100px;
  background-color: var(--main);
  align-items: center;
  color: var(--light-text);
  justify-content: center;
  z-index: 10;
  text-align: center;
}
.header-link {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar-links > * {
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
}
.navbar-links > *:visited {
  color: var(--light-text);
}
.navbar-links > *:hover {
  color: var(--dark-text);
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-picker-box {
  cursor: pointer;
  border: none;
  background: var(--light-text);
  transform: scale(0.8);
}

.burger-img {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}
.burger-img:hover {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--dark-text);
}

.burger-menu {
  position: absolute;
  height: auto;
  width: 200px;
  top: 100px;
  right: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  border-radius: 10px;
  border: solid white 2px;
}

.burger-menu > * {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 5%;
}
.burger-menu > *:hover {
  color: var(--dark-text);
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--main);
    align-items: center;
    color: var(--light-text);
  }

  .navbar-links > * {
    font-size: 0.8rem;
    margin-left: 1%;
    margin-bottom: 1%;
    text-align: center;
  }

  .navbar-links > *:visited {
    color: var(--light-text);
  }

  .header-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

  .burger-menu {
    position: absolute;
    height: auto;
    width: 200px;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    border-radius: 10px;
    border: solid white 2px;
  }
}
