.timer button {
  font-family: inherit;
  border: none;
  color: var(--light-text);
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.timer-btn-stop {
  background-color: #701f1f;
}
.timer-btn-stop:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    #701f1f;
}

.timer-btn-start {
  background-color: var(--main);
}
.timer-btn-start:hover {
  background: var(--hover), var(--main);
}
